body {
    background-color: rgb(137, 243, 243);
}

nav {
    background-color: aliceblue;
    color: black;
    margin: 30px;
    height: 50px;

}


ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 13px;

}
h1{
    text-shadow: 20px;
    text-align: center;
}
p{
    text-align: center;
    font-style: italic;
}

a {
    text-decoration: none;
    color: black;

}

a:hover {
    background-color: black;
    color: aliceblue;
}